head
  title Monospace Gallery
  meta(charset='UTF-8')
  meta(content='', name='On Click Portfolios for Dribbblers')
  meta(content='', name='derrybirkett')
  meta(content='3 days', name='revisit-after')
  meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
  link(rel='icon', sizes='16x16 48x48', href='/favicon.png?v=2')
