head
  title Usher
  meta(charset='UTF-8')
  meta(content='', name='description')
  meta(content='', name='author')
  meta(content='3 days', name='revisit-after')

body

  .bg
  
  .container
  
    +header
    
    +user
      
    +portfolio

    footer.footer
      p Powered by 
        a(href="/") Usher
