/*

BUTTONS

*/

roundedButton()
  border-radius 50px

outlineButton()
  border 1px solid black
  font-weight 400
  color black
  background none

plainTextButton()
  background none
  border-radius 0px
  border 0px
  border-bottom 2px solid white
  &:hover
    border-bottom 2px solid $brand-primary

underlinedButton()
  plainTextButton()
  border-bottom-color $gray
  &:hover
    background-color transparent


raisedButton()
  border-bottom: 3px solid green;

.plainTextButton
  plainTextButton()

a.menu.btn.btn-link
  color $gray

/* Login */
#login-buttons
  .login-button
    plainTextButton()
    smallcaps()
    color $gray-light
    &:hover
      background-color transparent !important

  /*
    &#login-buttons-logout
    plainTextButton()
    color $gray
  */

  .login-display-name
    smallcaps()
