/*

BUTTONS

*/

raisedButton()
  border-bottom: 3px solid green;


/* Login */
#login-buttons
  .login-button
    background-color $brand-primary
    font-size 90%
    border 0px
    padding 10px 15px
    smallcaps()
    &:hover
      background-color saturate($brand-primary, $lighten-amount)

  .login-display-name
    display none
