/*

Footer

*/

.footer
  p
    margin 0px
    float left

  .directory-grid
    img
      width 20px
      height 20px
      margin 2px
    .user
      float left
#Home
  .footer
    display block

.footerSimple
  text-align center
  padding 75px 0px
