/*

  MAILCHIMP

*/

#SubscribeForm
  padding-bottom 1em
  text-align center
  button
    plainTextButton()
    smallcaps()
  input
    smallcaps()
    text-align center
  button
    background-color white
    &:hover
      border-bottom-color $brand-primary
