/*

  MAILCHIMP

*/

#SubscribeForm
  input, button
/*    outline()
    dark()*/
  input
    width 150px
  button
    background-color $brand-primary
    border-color $brand-primary
    &:hover
      background-color saturate($brand-primary,$lighten-amount)
      border-color saturate($brand-primary,$lighten-amount)

  .message
    smallcaps()
