/*

Modals

*/

.modal-open
  padding 0px !important

.modal-dialog
  .modal-content
    text-align center
    box-shadow none
    border-radius 0px
    border: 20px solid rgba(0,0,0,0.2)
    opacity 0.98
    h1
      font-weight 300
      color $gray
    h5
      smallcaps()
      color $gray-dark
      font-weight 800
    p
      color #999
    .row
      margin-bottom 40px
  .modal-header
    p
      smallcaps()
