/*

Modals

*/

.modal-open
  padding 0px !important

.modal-dialog
  margin 0px
  .modal-header
    text-align center

  .modal-content
    box-shadow none
    border-radius 0px
    opacity 0.98

    h1
      font-weight 300
      color $gray
    h5
      smallcaps()
      color $gray-dark
      font-weight 800
    p
      color #999

    .tab-content
      padding 25px 0px

.close-button
  color black
  smallcaps()
  plainTextButton()
  margin 10px
  padding 5px 0px

.modal-dark
  color white
  .modal-backdrop, .modal-dialog, .modal-content
    background-color rgba(0,0,0,0.8) !important
  .close-button
    color white !important
