/*

Modals

*/

.modal-open
  padding 0px !important

.modal-dialog
  margin 0px
  .modal-content
    text-align center
    box-shadow none
    border-radius 0px
    opacity 0.98

    .modal-header
      p
        smallcaps()
      img.logo
        margin 10px 0px 0px

    h1
      font-weight 300
      color $gray
    h5
      smallcaps()
      color $gray-dark
      font-weight 800
    p
      color #999
    .row
      margin-bottom 40px

.close-button
  color black
  smallcaps()
  plainTextButton()
  margin 10px
  padding 5px 0px
