/*

Navbar

*/

.navbar
  background transparent
  border none

  .navbar-nav
    li >
      a:hover,
      a:active,
      a:focus
        background none

.menu
  margin-right 10px

img.logo
  height 40px
  width 40px

.navbar-form
  border 0px
  box-shadow none

.navbar-brand
  padding 5px 15px
  .avatar
    height 30px
    width 30px
