/*
Mixins
*/

dark()
  background-color $gray-dark
  border-color $gray-dark
  color white

light()
  background-color #fcfcfc
  color $gray-dark

primary()
.primary
  background-color $brand-primary
  color white

.centered
  text-align center
