/*

Usher

*/

$font-family-sans-serif   ?= 'Lato', sans-serif
$brand-primary            ?= #ea4c89
/* $fa-font-path ?=          '../../fonts'
$icon-font-path ?=        '../public/fonts/' */

/* Dribbble */
$dribbble-pink  = #ea4c89
$dribbble-green = #8aba56
$dribbble-grey  = #333333

/* Variables */
$lighten-amount = 10%

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import '../../.meteor/local/build/programs/web.browser/packages/innovae_bootstrap-stylus/bootstrap/index.styl'

/*
Mixins
*/

dark()
  background-color $gray-dark
  color white

light()
  background-color #fcfcfc
  color $gray-dark

primary()
.primary
  background-color $brand-primary
  color white

.centered
  text-align center

html, body
  height 100%

*
  transition all 0.2s ease

i
  color white

/* Site */
body
  dark()

/* Header */
.header
  padding 10px 0px

/* User */
.user
  text-align center
  margin-bottom 90px

  .avatar
    img
      max-height 80px

  h1
    font-size 30px
    font-weight 300
    margin-bottom 0px

  p
    font-size 14px
    color $gray-light
    margin-top 4px
    margin-bottom 20px

/* Login */
#login-buttons
  .login-button
    background-color $dribbble-pink
    font-size 90%
    border 0px
    padding 10px 15px
    &:hover
      background-color saturate($dribbble-pink, $lighten-amount)

  .login-display-name
    display none


/* Components */
.navbar
  background transparent
  border none

.bg
  height 100%
  width 100%
  background-image url('../images/bg.jpg')
  background-size cover
  position fixed
  z-index -500
  opacity 0.05

/* portfolio */
.col
  padding 0px

.shot
  height 300px
  background-size cover
  background-repeat no-repeat
  padding 0px

  .shoterlay
    height 100%
    width 100%
    background-color $brand-primary
    position relative
    opacity 0
    .shot-description
      position absolute
      padding 20px 40px
      h1
        font-size 36px
        font-weight 300
        letter-spacing -1px
    &:hover
      display block
      opacity 0.95

.shot-description
  color white
  h1
    margin-bottom 0.5em
  p
    font-weight 400

.underlay
  display none
  .shot-description
    text-align left
    padding-right 80px
    padding-bottom 30px
    h1
      font-size 16px
    p
      font-size 13px
      font-weight 300


/* Sign up */
.signup
  .welcome
    padding 50px
    text-align center
    h1
      font-size 72px
      font-weight 300
      margin-top 2em
    #login-buttons
      margin 2em

.section-header
  text-align center
  padding 50px 0px

/* Footer */
.footer
  padding 50px 0px
  text-align center


/* DIRECTORY */
.directoryGrid
  position relative
  img
    width 60px
    height 60px

.overlay
  position absolute
  width 100%
  height 100%
  opacity 0.8
