/*

  M O N O S P A C E . G A L L E R Y

*/

@import 'nib'

/*  VARIABLES
----------- */
/* Dribbble Palette */
$dribbble-pink  = #ea4c89
$dribbble-green = #8aba56
$dribbble-grey  = #333333

$lighten-amount = 20%

/* FONTS */
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

/* BOOTSTRAP */
@import "variables.styl"
@import "../../.meteor/local/build/programs/web.browser/packages/innovae_bootstrap-stylus/bootstrap/index.styl"


/*  BASE STYLES & MIXINS
------------------------ */
@import "mixins.styl"
@import "typography.styl"


/*  COMPONENTS
-------------- */
@import "components/buttons.styl"
@import "components/forms.styl"
@import "components/portfolio.styl"
@import "components/signup.styl"
@import "components/navbar.styl"
@import "components/footer.styl"
@import "components/user.styl"
@import "components/modals.styl"
@import "components/mailchimp.styl"

/*  SITE
-------------- */
@import "site.styl"
