$font-family-sans-serif   ?= 'Lato', sans-serif
$brand-primary            ?= #8aba56

/* BOOTSTRAP */
/* Modal */
$modal-inner-padding            ?= 10px
$modal-title-padding            ?= 10px
$modal-title-line-height ?=     $line-height-base
$modal-content-bg ?=             white
$modal-content-border-color ?=   transparent
$modal-content-fallback-border-color ?=          #999
$modal-backdrop-bg ?=           $dribbble-grey
$modal-backdrop-opacity ?=      .2
$modal-header-border-color ?=   transparent
$modal-footer-border-color ?=   $modal-header-border-color

$modal-lg ?=                    95%
$modal-md ?=                    60%
$modal-sm ?=                    30%


//== Forms
//
//##

$input-bg ?=                     transparent
$input-bg-disabled ?=            $gray-lighter

$input-color ?=                  $gray
$input-border ?=                 $gray

$input-border-radius ?=          $border-radius-base
$input-border-radius-large ?=     $border-radius-large
$input-border-radius-small ?=    $border-radius-small

//** Border color for inputs on focus
$input-border-focus ?=           #66afe9

//** Placeholder text color
$input-color-placeholder ?=      $gray

$legend-color ?=                   $gray-dark
$legend-border-color ?=            #e5e5e5

//** Background color for textual input addons
$input-group-addon-bg ?=           $gray-lighter
//** Border color for textual input addons
$input-group-addon-border-color ?= $input-border

//** Disabled cursor for form controls and buttons.
$cursor-disabled ?=                not-allowed
