template(name="controlPanel")
  section#ControlPanel.modal.control-panel
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.pull-right.btn.btn-link.btn-lg(type="button", data-dismiss="modal")
              span.fa.fa-close
          h1 About Usher
          p Thanks for checking out this app.
        .modal-body
          h5 Newsletter
          p Hey, why not sign up for awesomeness by mail
