template(name="controlPanel")
  section#ControlPanel.modal.control-panel.fade
    .modal-dialog
      .modal-content
        .modal-header
            button.close-button(type="button", data-dismiss="modal") Close
          
        .modal-body
          .row-fluid
            .container-fluid
              // Nav tabs
              ul.nav.nav-tabs.nav-justified(role='tablist')

                li.active(role='presentation')
                  a(href='#about', aria-controls='about', role='tab', data-toggle='tab') About
                |                     

                li(role='presentation')
                  a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Go PRO
                |                     

                li(role='presentation')
                  a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Share
                |                  

              // Tab panes
              .tab-content
                  #about.tab-pane.fade.in.active(role='tabpanel') 
                      .row-fluid
                        .container-fluid
                          .col-md-3.col-sm-6.col-xs-10
                            h5 About
                            p 
                              | Monospace Gallery is being built by 
                              a(href="http://dribbble.com/derrybirkett") Derry Birkett
                              | , a designer who wants to be free from uploading images to his website.

                          .col-md-3.col-md-offset-1.col-sm-6.col-xs-10                            
                            +goPro

                          .col-md-3.col-md-offset-1.col-sm-6.col-xs-12
                            +subscribe

                  #profile.tab-pane.fade(role='tabpanel')
                      .row-fluid
                        .container-fluid
                          +goPro
                          
                  #settings.tab-pane.fade(role='tabpanel') 
                    .row-fluid
                      .container-fluid
                        +share


template(name="goPro")
  h5 Go PRO
  dl
    dt Own domain name
    dd Host on your own domain name.

    dt Own logo, whitelabelled
    dd Noone will know you're being powered by me.
    
  ul.pager
    li.previous 
      a
        | 24$ per year

template(name="share")
  h5 Share your Portfolio
  ul.pager
    li 
      a Twitter
    li 
      a Facebook
    li 
      a Google+

template(name="subscribe")
  h5 Follow Updates
  p This app is in constant development, leave your email to be notified of feature updates.
  
  #SubscribeForm
    +MailChimpListSubscribe

template(name="changelog")
  ul
    li 
      strong 0.4 
      | Cleaner, lighter UI and various UI improvements.
