template(name="controlPanel")
  section#ControlPanel.modal.control-panel.fade
    .modal-dialog
      .modal-content
        .modal-header
          .row
            .col-md-12
                button.pull-right.close-button(type="button", data-dismiss="modal") Close
          
          .row
            .col-md-12
              img.logo(src="images/monospace.svg") 
              h1 Monospace Gallery
              p v0.4
        
        .modal-body
          .row
            .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
              h5 About
              p 
                | Monospace Gallery is being built by 
                a(href="http://dribbble.com/derrybirkett") Derry Birkett
                | , a designer who wants to be free from uploading images to his website.

          .row
            .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
              h5 Follow Updates
              p This app is in constant development, leave your email to be notified of feature updates.
              #SubscribeForm
                +MailChimpListSubscribe
