template(name="controlPanel")
  section#ControlPanel.modal.control-panel.fade
    .modal-dialog
      .modal-content
        .modal-header
          .row
            .col-md-12
              button.pull-right.close-button(type="button", data-dismiss="modal") Close
              img.logo.pull-left(src="images/monospace.svg") 
        .modal-body
          .row
            .col-md-12
              // Nav tabs
              ul.nav.nav-tabs(role='tablist')
                li.active(role='presentation')
                  a(href='#about', aria-controls='about', role='tab', data-toggle='tab') About
                |                     
                li(role='presentation')
                  a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Messages
                |                     
                li(role='presentation')
                  a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Portfolio Settings
                |                     
                li(role='presentation')
                  a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Blog Settings

              // Tab panes
              .tab-content
                  #about.tab-pane.fade.in.active(role='tabpanel') 
                      .row
                        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
                          h5 About
                          p 
                            | Monospace Gallery is being built by 
                            a(href="http://dribbble.com/derrybirkett") Derry Birkett
                            | , a designer who wants to be free from uploading images to his website.

                      .row
                        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
                          h5 Follow Updates
                          p This app is in constant development, leave your email to be notified of feature updates.
                          #SubscribeForm
                            +MailChimpListSubscribe
                  #profile.tab-pane.fade(role='tabpanel')
                      .row
                        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
                          h5 Messages
                          
                  #messages.tab-pane.fade(role='tabpanel')
                      .row
                        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
                          h5 Portfolio Settings                    
                        
                  #settings.tab-pane.fade(role='tabpanel') 
                      .row
                        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
                          h5 Choose Blogging Account
                          ul.nav.nav-pills
                            li
                              a Ghost
                            li
                              a Wordpress
