template(name="directoryGrid")
  .directory-grid
    each user
      .user
        a(href="{{pathFor 'profile' username=services.dribbble.username}}")
          img.img-circle(src="{{services.dribbble.avatar}}")
