template(name="features")
  .features
    .row
      .col-md-2.col-md-offset-2
        .feature-portfolio
          img(src="/images/browser.svg")
          p.lead Magazine

      .col-md-2.col-md-offset-1
        .feature-portfolio
          img(src="/images/browser.svg")
          p.lead Blog
      
      .col-md-2.col-md-offset-1
        .feature-portfolio
          img(src="/images/browser.svg")
          p.lead Portfolio
