template(name="footer")
  .footer
    nav.navbar.navbar-default.navbar-fixed-bottom
      .container-fluid
        ul.nav.navbar-nav.navbar-right
          li
            a.menu.btn.btn-link(href="#", data-toggle="modal", data-target="#ControlPanel")
              i.fa.fa-bars        
      // /.navbar-collapse
    // /.container-fluid
