template(name="footer")

    footer.footer.container-fluid
      .row
        .col-md-12
          p.smallcaps a Project by
            a(href="http://dribbble.com/derrybirkett") Derry Birkett

          +directoryGrid
