template(name="header")
  .header.container-fluid
    .navbar.navbar-inverse(role='navigation')
      .navbar-header
        a.navbar-brand(href='/')
          i.fa.fa-diamond
          
        form.navbar-form.navbar-right
          +loginButtons
