template(name="portfolio")
  .portfolio
    .row
      .col-md-4.col
        .shot(style='background-image:url("../images/chat-party-ui_1x.png")')
          .shoterlay
            article.shot-description
              h1 How I learned to stop worrying and love the bomb
              p Quis do occaecat ut aliquip labore veniam officia voluptate nisi elit sit qui irure.
        .underlay
            article.shot-description
              h1 How I learned to stop worrying and love the bomb
              p Quis do occaecat ut aliquip labore veniam officia voluptate nisi elit sit qui irure.

      .shot.col-md-4(style='background-image:url("../images/comp-2_7.gif")')
        .shoterlay
            article.shot-description
              h1 How I learned to stop worrying and love the bomb
              p Quis do occaecat ut aliquip labore veniam officia voluptate nisi elit sit qui irure.

      .shot.col-md-4(style='background-image:url("../images/create-role-comic-app-ux-ui-interface-design-ramotion.gif")')
    .row
      .shot.col-md-4(style='background-image:url("../images/freelance-fulltime_1x.png")')
      .shot.col-md-4(style='background-image:url("../images/squadlance.gif")')
      .shot.col-md-4(style='background-image:url("../images/chat-party-ui_1x.png")')
    .row
      .shot.col-md-4(style='background-image:url("../images/chat-party-ui_1x.png")')
      .shot.col-md-4(style='background-image:url("../images/comp-2_7.gif")')
      .shot.col-md-4(style='background-image:url("../images/create-role-comic-app-ux-ui-interface-design-ramotion.gif")')
