template(name="signup")
  .signup
    .jumbotron
      h1 A responsive portolio website, always in sync with your Dribbble shots. 
      p
        | Connect your Dribbble acount and get your portfolio url. It's that easy.
      p
        +loginButtons
