template(name="signup")
  
    .signup.container

      .row 
        .welcome
          h1 One click folios for Dribbblers
          p Simple sign in with Dribbble by clicking the button below to load your folio
          +loginButtons

      .section-header.row
        h2 Directory
        p See who else is powered by Usher

      .row 
        +directory

    footer.footer
      p Powered by
        a(href="/") Usher
