template(name="signup")
  
    .signup.container-fluid

      .row 
        .welcome
          h1 One click folios for Dribbblers
          p.lead Simples. Sign in with Dribbble and you'll get a professional portfolio page.  
          

      .row
        +directoryGrid

    footer.footer
      p Powered by
        a(href="/") Usher
