template(name="signup")
      .bg

      .container

        .signup

          +header

          .user
            h1 One click folios for Dribbblers
            p Simple sign in with Dribbble by clicking the button below to load your folio
            +loginButtons

        footer.footer
          p Powered by
            a(href="/") Usher
