template(name="signup")
  
    .signup.container-fluid

      .row 
        .welcome
          h1 One click folios for Dribbblers
          p.lead Simples. Sign in with Dribbble and get a professional portfolio page.  
