template(name="signup")
  .signup
    .jumbotron
      h1 One-click, professional portfolios for Dribbblers
      p
        | Login through Dribbble and get your portfolio url. It's that easy.
      p
        +loginButtons
