template(name="user")
  .user
    .avatar
      a(href="{{pathFor 'profile'}}")
        img.img-circle(src="{{services.dribbble.avatar}}")
    h1 {{profile.name}}
    p {{services.dribbble.bio}}

    .social
      if currentUser
        +loginButtons
      else
        button.btn.btn-default.btn-primary Follow
