template(name="user")
  .user
    .avatar
      img.img-circle(src="{{services.dribbble.avatar}}")
    h1 {{profile.name}}
    p {{services.dribbble.bio}}

    .social
      // button.btn.btn-primary Follow
      +loginButtons
