template(name="about")
  .about
    .row-fluid
      .container-fluid
          .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-1
            h1 About Monospace
            p.lead Responsive portolios, always in sync with your Dribbble shots. Designed by a Dribbble designer *for* Dribbble designers.
            p Who wants to upload their work to 10 different places: Monospace allows designers to showcase their work in a professional, responsive layout without any uploading hassle. Update your Dribbble shots, and your Monospace portolio is automatically updated too.
            blockquote When you upload new Dribbble shots your Monospace portfolio is automatically updated too.
            p Monospace is being built by 
              a(href="http://derrybirkett.com") Derry Birkett
              | , a Dribbble designer. This is a new release, but I have various features in mind to make it easy for designers to showcase their work in a professional, responsive web portfolio.

            +subscribe
